.container{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap:20px
  }
  
  .Pagination__buttons{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    outline: none;
  }
  
  .button:disabled{
    cursor: not-allowed;
  }