.container {
  position: sticky;
  top: 40px;
}
.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: .4px solid white;;
}
.userImage {
  border-radius: 50%;
  object-fit: cover;
}
.userDetail {
  display: flex;
  flex-direction: column;
}
.username {
  font-weight: 500;
}
.userTitle {
  font-style: 12px;
}
.list {
  list-style: none;
}
.cat {
  font-weight: bold;
  font-size: 13px;
  margin: 10px 0px;
}
.logout {
  padding: 10px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background: none;
  border: none;
  color: white;
  width: 100%;
}

.logout:hover {
  background: red;
}

@media only screen and (max-width: 600px) {
  .container {
    display: none;
  }
  .user {
    display: flex;
    flex-direction: column;
  }
}
