.container{
    background: var(--bgSoft);
    padding: 20px;
    border-radius: var(--borderRadius);
    width: 100%;
}
.title{
    margin-bottom: 20px;
    font-weight: 200;
    color:var(--text)
}
.table{
    width: 100%;
}
.table td{
    padding: 10px;
}
.table tr:hover{
    box-shadow: 6px 4px 10px -2px rgb(122, 121, 121);
  
  }

.user{
    display: flex;
    gap:10px;
    align-items: center;
}
.userImage{
    border-radius: 50%;
    object-fit: cover;
}
.status{
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color:white;
}
.cancelled{
    color: #fc5a1a75;
}
.done{
    color: #dde3e675;
}
.pending{
    color: #f8f7f775;
}
@media only screen and (max-width: 768px) {
    
    .container{
        width:80%;
        overflow-x:scroll !important;
    }
    .table{
        width:90% !important;
        overflow-x: scroll;
    }
    
}