.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  padding: 20px;
  color: #555;
}

.imgContainer {
  position: relative;
  border-radius: var(--borderRadius);
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 20px;
}

.header {
  display: flex;
  width: 100%;
}
.header :first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.header :last-child {
  color: var(--text);
  border-radius: var(--borderRadius);
  padding: 10px;
}
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.userInfo div {
  display: flex;
  gap: 10px;
}

.userInfo div :last-child {
  font-weight: bold;
  color: rgb(93, 93, 93);
}


.formContainer {
  flex: 1;
  display: flex;
  padding: 20px;
  border-radius: var(--borderRadius);
  color: rgb(45, 40, 40);
  gap: 20px;
}


.propertyContainer {
  flex: 1;
  border-radius: var(--borderRadius);
  color: #ffffff;
  padding: 20px;
}
.tendanciesContainer {
  background-color: var(--bg);
  border-radius: var(--borderRadius);
  color: #ffffff;
  flex: 1;
  padding: 20px;
}
/* Table.module.css */

.table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 28px;
  text-align: left;
}

/* Add your custom styles for table rows here */
.table tr {
  /* background-color: var(--bg); */
  color: #ffffff;
  margin-bottom: 100px;
}

/* Styling for alternating rows */
.table tr:nth-child(even) {
  background-color: var(--bgSoft);
}
.table tr:hover {
  box-shadow: 6px 4px 10px -2px rgb(251, 250, 250);
}

/* Add more styles as needed */

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}
.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.view {
  /* background-color: teal; */
}

.delete {
  background-color: crimson;
}
.tabcontainer {
  width: 100%;
}
.tabHeader {
  display: flex;
  width: max-content;
  background-color: var(--textSoft);
  align-items: center;
  border-radius: 25px;
  padding: 5px;
}
.tabbutton {
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: var(--borderRadius);
}
.tabactive {
  background: white;
}
.tabbody {
  padding-top: 50px;
}
.muted_text {
  color: var(--textSoft);
  font-size: 14px;
}
.tendanciesContainer {
  background-color: transparent !important;
  display: flex;
}
.bookings {
  width: 50%;
}
.booking {
  display: flex;
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  list-style: none;
  background-color: white;
  color: black;
  border-radius: var(--borderRadius);
  justify-content: space-between;
  padding-left: 20px;
}
.booking_details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.booking_status {
  text-align: end;
}

/* 
  .form{
    display: flex;
    flex-direction: column;
  }
  
  .form input, .form textarea, .form select{
    padding: 20px;
    border: 2px solid var(--orange);
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
    margin: 10px 0px;
  }
  
  .form label{
    font-size: 12px;
  }
  
  .form button{
    width: 100%;
    padding: 20px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  } */
