.container {
  display: flex;
  margin-top: 20px;
}
.detailsContainer {
  width: 70%;
}
.infoContainer {
  display: flex;
  width: 100%;
  gap: 30px;
  padding: 20px;
  color: #555;
}

.imgContainer {
  position: relative;
  border-radius: var(--borderRadius);
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header {
  display: flex;
  width: 100%;
}
.header :first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.header :last-child {
  color: var(--text);
  border-radius: var(--borderRadius);
  padding: 10px;
}
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.userInfo div {
  display: flex;
  gap: 10px;
}

.userInfo div :last-child {
  font-weight: bold;
  color: rgb(93, 93, 93);
}

.bookingContainer {
  flex: 1;
  display: flex;
  padding: 20px;
  border-radius: var(--borderRadius);
  color: rgb(45, 40, 40);
  gap: 20px;
}

.propertyContainer {
  flex: 1;
  border-radius: var(--borderRadius);
  padding: 20px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 20px; */
}
.tendanciesContainer {
  background-color: var(--bg);
  border-radius: var(--borderRadius);
  flex: 1;
  padding: 20px;
}
/* Table.module.css */

/* Add more styles as needed */

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}
.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.view {
  /* background-color: teal; */
}

.delete {
  background-color: crimson;
}
.tabcontainer {
  width: 100%;
}
.tabHeader {
  display: flex;
  width: max-content;
  background-color: var(--bg);
  align-items: center;
  border-radius: var(--borderRadius);
  color: #fff;
  padding: 5px;
}
.tabbutton {
  background: transparent;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: var(--borderRadius);
}
.tabactive {
  background: var(--orange);
}
.tabbody {
  padding-top: 50px;
}
.muted_text {
  color: var(--textSoft);
  font-size: 14px;
}
.tendanciesContainer {
  background-color: transparent !important;
  display: flex;
}

.booking {
  display: flex;
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  list-style: none;
  background-color: white;
  color: black;
  border-radius: var(--borderRadius);
  justify-content: space-between;
  padding-left: 20px;
}
.booking_details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.booking_status {
  text-align: end;
}
.formMainContainer {
  width: 30%;
}
.formBody {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: max-content;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.smallAvatar {
  display: none;
}

/* 
  .form{
    display: flex;
    flex-direction: column;
  }
  
  .form input, .form textarea, .form select{
    padding: 20px;
    border: 2px solid var(--orange);
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
    margin: 10px 0px;
  }
  
  .form label{
    font-size: 12px;
  }
  
  .form button{
    width: 100%;
    padding: 20px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  } */
@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .detailsContainer {
    width: 100%;
  }
  .formMainContainer {
    width: 100%;
  }
  .imgContainer {
    display: none;
  }
  .formBody {
    height: max-content;
  }
}
