.container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: var(--borderRadius);
  border: 1px solid #eee;

  width: max-content;
}

.input {
  height: 40px;
  background-color: transparent;
  color: var(--text);
  border: none;
  outline: none;
}
