/* Table.module.css */

.table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 28px;
    text-align: left;
  }
  
  /* Add your custom styles for table rows here */
  .table tr {
    background-color: var(--bg);
    color:#ffffff;
    margin-bottom: 100px;
    
  }
  
  /* Styling for alternating rows */
  .table tr:nth-child(even) {
    background-color: var(--bgSoft);
  }
  .table tr:hover{
    box-shadow: 6px 4px 10px -2px rgb(251, 250, 250);
  
  }
  
.button{
    border-radius: var(--borderRadius);
    padding: 10px;
} 
.muted_text{
    color: var(--textSoft);
    font-size: 14px;
    margin-top: 5px;
}
.pending{
    color:gray;
    font-weight: bolder;
}
.declined{
    color:red;
    font-weight: bolder;
}
.approved{
    color: var(--bg);
    font-weight: bolder;
}
.propertyImage{
    border-radius: 100%;
}